{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Car Connect - Vos Voitures" %}{% endblock %}

{% block content %}
    <h2>{% trans "Ajouter une voiture" %}</h2>

    <p>Si votre voiture est équipée d'une Koolibox, vous pouvez la partager en toute sécurité avec
    vos proches, vos voisins, etc. Il vous suffit de l'ajouter dans Car Connect&nbsp;!</p>

    <form class="form-horizontal"
          method="post"
          enctype="multipart/form-data"
          action="">
        {% crispy form %}
    </form>
{% endblock %}
