{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load jsonfilter %}
{% load static %}

{% block content %}
        <div class="tabs-container row"
             ng-controller="CarController"
             ng-init="
                currentTab = 'vehicule';
                allUsers = {{ all_users | json  }};
            ">
            <div class="list-group tab-control col-sm-3">
                <a class="list-group-item"
                     ng-class="{'active': currentTab === 'vehicule'}"
                     ng-click="currentTab = 'vehicule'">
                    <em>{{ car.name }}</em>
                </a>

                <a class="list-group-item"
                     ng-class="{'active': currentTab === 'map'}"
                     ng-click="currentTab = 'map'">
                    Carte
                </a>

                <a class="list-group-item" href="{% url "money" car.id %}">
                    {% trans "Budget" %}
                </a>
            </div>

            <div class="tab-content well col-sm-9">
                <div ng-show="currentTab === 'vehicule'">
                    <div class="row">
                        <div class="col-sm-6 car-pic">
                            {% if car.picture %}
                                {% thumbnail car.picture "500x500" crop="center" as im %}
                                    <img class="border" src="{{ im.url }}"/>
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static "img/default-car-500.jpg" %}"/>
                            {% endif %}
                        </div>

                        <div class="col-sm-6 text-center">
                            {% if car.picture %}
                                {% thumbnail car.owner.picture "500x500" crop="center" as im %}
                                    <img class="owner-pic img-circle border"
                                         src="{{ im.url }}"/>
                                {% endthumbnail %}
                            {% else %}
                                <img class="owner-pic img-circle"
                                     src="{% static "img/default-user.png" %}"/>
                            {% endif %}

                            <h3>{{ car.owner.get_full_name }}</h3>
                            <h4>Propriétaire du véhicule</h4>
                        </div>
                    </div>

                    <h3>Gestion des bénéficaires</h3>

                    <form class="row" ng-submit="submitForm()">
                        <div class="col-xs-8">
                           <input type="text"
                                  placeholder="Entrez une adresse e-mail"
                                  ng-model="selected"
                                  typeahead="user for user in allUsers | filter:$viewValue | limitTo:5"
                                  class="form-control">
                        </div>

                        <div class="col-xs-4">
                           <button type="submit"
                                   class="btn btn-primary">{% trans 'Ajouter' %}</button>
                        </div>
                    </form>

                    {% spaceless %}
                    {% for user in car.consumers.all %}
                        <div class="user-repeat">
                             <div class="user-pic">
                                 {% if user.picture %}
                                    {% thumbnail user.picture "100x100" crop="center" as im %}
                                        <img class="user-pic img-circle"
                                             src="{{ im.url }}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="user-pic img-circle"
                                         src="{% static "img/default-user.png" %}"/>
                                {% endif %}
                            </div>

                            <div class="user-name">
                                <h5>{{ user.get_full_name }}</h5>
                            </div>
                        </div>
                    {% empty %}
                        <p><em>Aucune personne ajoutée pour l'instant</em></p>
                    {% endfor %}
                    {% endspaceless %}
                </div>

                <div class="row"
                     ng-show="currentTab === 'map'">
                    <div id="map" data-lat="{{ car.latitude }}" data-lng="{{ car.longitude }}"></div>
                </div>
            </div>
        </div>
{% endblock %}
