{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block head_title %}{% trans "Car Connect - Vos Voitures" %}{% endblock %}

{% block content %}
    <h2>{% trans "Vos voitures" %}</h2>

    <div class="row">
        {% for car in cars %}
            <div class="col-sm-4">
                <div class="panel panel-{% if request.user == car.owner %}success{% else %}primary{% endif %} panel-car">
                    <div class="panel-heading">
                        <span class="car-name">
                            {% if request.user == car.owner %}<i class="fa fa-key"></i>{% endif %}
                            {{ car.name }}
                        </span>
                    </div>
                    <a href="{% url "car" car.id %}">
                        {% if car.picture %}
                            {% thumbnail car.picture "550x310" crop="center" as im %}
                                <img class="default-car-picture" src="{{ im.url }}" />
                            {% endthumbnail %}
                        {% else %}
                            <img class="default-car-picture" src="{% static "img/default-car.jpg" %}" />
                        {% endif %}
                    </a>
                </div>
            </div>

            {% if forloop.last %}
                <div class="col-sm-4">
                    <div class="panel panel-info panel-car">
                        <div class="panel-heading">
                        <span class="car-name">
                            {% trans "Ajouter une voiture" %}
                        </span>
                        </div>

                        <a href="{% url "add_car" %}">
                            <img class="default-car-picture"
                                 src="{% static "img/add-car.png" %}"/>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h3>{% trans "Pas encore de voiture disponible&nbsp;!" %}</h3>

                    <p>Vous n'avez pas encore de voiture à votre disposition, mais vous pouvez
                    vite remédier à ça&nbsp;!</p>
                </div>

                <div class="row">
                    <div class="col-lg-offset-1 col-lg-4 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Ajouter ma voiture</h3>

                                <p>Votre voiture est équipée d'une Koolibox&nbsp;? Partagez-la à
                                    vos voisins.</p>

                                <p><a class="btn btn-lg btn-primary" href="{% url "add_car" %}">Partager</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-4 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Partager une voiture</h3>

                                <p>Demandez à un voisin, ami ou membre de votre famille de vous
                                partager sa voiture.</p>

                                <p><a class="btn btn-lg btn-primary" href>Demander</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
