{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Car Connect - Votre Budget" %}{% endblock %}
{% block container_attrs %}ng-controller="MoneyCtrl"{% endblock %}

{% block content %}
    <div class="tabs-container row">
        <div class="list-group tab-control col-sm-3">
            <a class="list-group-item"
               href="{% url "car" vehicle.id %}">
                <em>{{ vehicle.name }}</em>
            </a>

            <a class="list-group-item"
               href="{% url "car" vehicle.id %}">
                Carte
            </a>

            <a class="list-group-item active" href="{% url "money" vehicle.id %}">
                {% trans "Budget" %}
            </a>
        </div>

        <div class="col-sm-9">
            <h2>{% trans "Votre budget" %}</h2>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Dette
                        </div>
                        <div class="panel-body">
                            {{ sum_negative }} €
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Créance
                        </div>
                        <div class="panel-body">
                            {{ sum_positive }} €
                        </div>
                    </div>
                </div>
            </div>

            {% if sum_negative %}
                <h3>{% trans "Dettes" %}</h3>

                <ul>
                    {% for user, amount in negative.items %}
                        <li><strong>{{ user.get_full_name }}&nbsp;:</strong> {{ amount }}&nbsp;€
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if sum_positive %}
                <h3>{% trans "Créances" %}</h3>

                <ul>
                    {% for user, amount in positive.items %}
                        <li>
                            <strong>{{ user.get_full_name }}&nbsp;:</strong> {{ amount }}&nbsp;€
                            &mdash;
                            <a href="?clear={{ user.id }}"><i class="fa fa-check"></i> remboursé</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h3>
                {% trans "Dernières factures" %}
                <a class="btn btn-primary" href ng-click="addBill()">
                    <i class="fa fa-plus-circle"></i> Nouvelle facture
                </a>
            </h3>

            <div>
                {% for bill in bills %}
                    {% if forloop.first %}
                        <table class="table table-striped">
                        <tr>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Libellé" %}</th>
                            <th>{% trans "Payé par" %}</th>
                            <th>{% trans "Montant" %}</th>
                            <th>{% trans "Facture" %}</th>
                        </tr>
                    {% endif %}

                <tr>
                    <td>{{ bill.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ bill.label }}</td>
                    <td>{{ bill.payer.get_full_name }}</td>
                    <td>{{ bill.amount|localize }}&nbsp;€</td>
                    <td>
                        {% if bill.bill %}
                            <a href="{{ bill.bill.url }}"
                               target="_blank"><i class="fa fa-download"></i></a>
                        {% endif %}
                    </td>
                </tr>

                {% if forloop.last %}
                    </table>
                {% endif %}
                {% endfor %}
            </div>

            <script type="text/ng-template" id="activkool/partials/money_modal.html">
                <form action="{% url "money" vehicle.id %}"
                      novalidate
                      name="addBillForm"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title">{% trans "Ajouter une facture" %}</h3>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="money-add-label">{% trans "Libellé" %}</label>
                            <input type="text"
                                   class="form-control"
                                   id="money-add-label"
                                   name="label"
                                   ng-model="data.label"
                                   ng-minlength="3"
                                   required
                                   placeholder="{% trans "Garagiste, assurance, ..." %}">
                        </div>
                        <div class="form-group">
                            <label for="money-add-amount">{% trans "Montant" %}</label>

                            <div class="input-group">
                                <input type="number"
                                       class="form-control"
                                       id="money-add-amount"
                                       ng-model="data.amount"
                                       name="amount"
                                       required
                                       min="0"
                                       placeholder="{% trans "0" %}">

                                <div class="input-group-addon">€</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="money-add-bill">{% trans "Facture" %}</label>
                            <input type="file"
                                   class="form-control"
                                   id="money-add-bill"
                                   ng-model="data.bill"
                                   name="bill">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href
                           class="btn btn-default"
                           ng-click="$dismiss()">{% trans "Annuler" %}</a>
                        <button class="btn btn-primary"
                                ng-disabled="addBillForm.$invalid">{% trans "Ajouter" %}</button>
                    </div>
                </form>
            </script>
        </div>
    </div>
{% endblock %}
