{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CarConnect</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    {% stylesheet 'bootstrap' %}
</head>
<body>
    <header class="valign-wrapper">
        <div class="valign">
            <img src="{% static 'img/logo-xs.png' %}"/>
            <h1>CarConnect</h1>
            <h2>Confiance — Simplicité — Budget sauvé</h2>

            <a class="cc-btn" id="main-btn">
                En savoir plus <span class="fa fa-arrow-down"></span>
            </a>
        </div>
    </header>

    <div class="header-links">
        <a class="toSignUp">s'inscrire</a> <span> | </span> <a href="#" data-toggle="modal" data-target="#connection-modal">se connecter</a>
    </div>

    <main>
        <section id="section-1">
            <div class="container">
                <h2>Avec CarConnect, partagez votre voiture en toute confiance</h2>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi commodi dicta dolorem
                            doloremque ea eaque et eveniet facilis fuga fugiat id illo incidunt iure libero, magni
                            maxime molestiae molestias nemo neque nostrum numquam obcaecati odit porro quae, qui quidem
                            quod quos reiciendis repudiandae sed sunt voluptas voluptate. A adipisci, culpa dolor dolore
                            doloremque doloribus excepturi labore nesciunt nobis officiis repudiandae sapiente sit!
                            Aliquam aliquid blanditiis, cupiditate dignissimos doloremque enim eos illo incidunt iusto
                            laudantium libero minus molestias nisi nostrum officiis perspiciatis quae quaerat qui quod
                            ratione reiciendis reprehenderit repudiandae, saepe, soluta velit! Ad adipisci aperiam
                            consequatur id iusto, nisi porro, quas, quos saepe sapiente sed sit tenetur veniam! Autem
                            consectetur deleniti enim error impedit odio quae qui, repudiandae rerum!</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h3>Ici, un joli screenshot ou slider</h3>
                        <img src="{% static 'img/imac-mockup-27.png' %}" />

                        <div id="section-1-btn">
                            <a class="btn btn-default toSignUp">inscription</a>
                            <a class="btn btn-default" data-toggle="modal" data-target="#connection-modal">déjà membre ? connectez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-2">
            <div class="container">
                <!-- Part 1 -->
                <div class="col-xs-12 col-md-4 promo">
                    <div class="valign">
                        <img src="{% static 'img/icones/check.png' %}"/>
                    </div>
                    <h3>Confiance</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam doloremque, eius inventore
                        iste laboriosam nesciunt nihil quasi?
                    </p>
                </div>
                <!-- Part 2 -->
                <div class="col-xs-12 col-md-4 promo">
                    <div class="valign">
                        <img src="{% static 'img/icones/document.png' %}"/>
                    </div>
                    <h3>Simplicité</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam doloremque, eius inventore
                        iste laboriosam nesciunt nihil quasi?
                    </p>
                </div>

                <!-- Part 3 -->
                <div class="col-xs-12 col-md-4 promo">
                    <div class="valign">
                        <img src="{% static 'img/icones/credit-card.png' %}"/>
                    </div>
                    <h3>Budget sauvé</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam doloremque, eius inventore
                        iste laboriosam nesciunt nihil quasi?
                    </p>
                </div>
            </div>
        </section>

        <section id="section-3">
            <div class="container">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h3 class="text-center">Inscrivez vous !</h3>
                    <form novalidate
                          name="register"
                          action="/accounts/signup/"
                          method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <input type="text"
                                       name="first_name"
                                       class="form-control"
                                       placeholder="Prénom"
                                       required>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <input type="text"
                                       name="last_name"
                                       class="form-control"
                                       placeholder="Nom"
                                       required>
                            </div>

                            <div class="col-xs-12">
                                <input type="email"
                                       name="email"
                                       class="form-control"
                                       placeholder="email"
                                       required>
                            </div>

                            <div class="col-xs-12">
                                <input type="password"
                                       name="password1"
                                       class="form-control"
                                       placeholder="password"
                                       required>
                            </div>

                            <div class="col-xs-12">
                                <p class="conditions">En m'inscrivant sur le site, j'accepte les conditions d'utilisation</p>
                                <button class="btn btn-success btn-lg btn-block">valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="connection-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Connexion à CarConnect</h4>
                    </div>
                    <div class="modal-body">
                        <form novalidate
                              role="form"
                              method="POST"
                              action="/accounts/login/">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <input type="text"
                                           name="login"
                                           class="form-control"
                                           placeholder="Adresse e-mail">
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           placeholder="Mot de passe">
                                </div>

                                <div class="col-xs-12">
                                    <button type="submit"
                                            class="btn btn-success btn-lg btn-block">valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="col-xs-12 col-md-3">
                <div class="valign-wrapper">
                    <img class="valign" src="{% static 'img/logo.png' %}"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="valign-wrapper">
                    <div class="valign">
                        <p class="text-center">
                            Because we no want no more useless cars... Take care of Earth <3
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="valign-wrapper">
                    <div class="valign">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Yeah, some ultra ugly inline Javascript xD -->
    <script type="application/javascript">
        (function($) {
            'use strict';

            $(document).ready(function() {
                $('#main-btn').on('click', function() {
                    scrollToId('#section-1');
                    return false;
                });

                $('.toSignUp').on('click', function() {
                    scrollToId('#section-3');
                    return false;
                });

                function scrollToId(id) {
                    $('html, body').animate({
                        scrollTop:$(id).offset().top
                    }, 750, 'swing');
                }
            });
        })(jQuery);
    </script>

</body>
</html>
