{% load i18n %}

<div style="margin-bottom: 10px;"><!-- Yeah, doing that is bad. -->
    <input type="file" name="{{ name }}"/>
</div>

{% if url %}
    <div class="thumbnail">
        <img src="{{ url }}" alt=""/>
        <div class="caption">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ checkbox_name }}"/>
                    {% trans "Supprimer l'image actuelle" %}
                </label>
            </div>
        </div>
    </div>
{% endif %}
