@import "lesshat/build/lesshat.less";

// Temporary, waiting for variables
@spacing: 10px;
@palette-blue: #3f7cac;
@palette-blue2: #95afba;
@palette-beige1: #bdc4a7;
@palette-beige2: #d5e1a3;
@palette-beige3: #e2f89c;

.tabs-container {
  margin-top: @spacing; // TMP

  .tab-control > div {
    padding: @spacing;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .tab-content {
    .border {
      border: 1px solid @palette-blue;
    }

    .car-pic img {
      width: 100%;
    }

    .owner-pic {
      width: 50%;
    }

    .user-repeat {
      margin: @spacing 0;
      display: inline-block;
      width: 50%;
    }

    .user-repeat > div {
      display: inline-block;
      vertical-align: middle;
    }

    .user-pic {
      .size(50px);
      margin-right: @spacing;

      img {
        width: 100%;
      }
    }

    form {
      margin: @spacing 0;
    }
  }
}
