@import "lesshat/build/lesshat.less";

.default-car-picture {
  width: 100%;
}

.panel-car {
  @height: 203px;

  .panel-heading {
    white-space: nowrap;
  }

  .car-name {
    text-overflow: ellipsis;
  }
}
