@import "lesshat/build/lesshat.less";

@general-font : 'Lato', sans-serif;
@path-static: '/static';
@path-img: '@{path-static}/img';
@color-blue-1 : #3f7cac;
@color-blue-2 : #95afba;
@color-gray-green: #bdc4a7;
@color-green-1: #d5e1a3;
@color-green-2: #e2f89c;
@color-dark-gray : #34495e;

.BoxShadowHelper(@level: 1) {
  & when (@level = 1) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  & when (@level = 2) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  & when (@level = 3) {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  & when (@level = 4) {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  & when (@level = 5) {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

/* - -------------------------------
*       GLOBAL
------------------------------- - */
body, html {
  height: 100%;
  font-family: @general-font;
}

.header-links {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  font-size: 14px;

  span {
    margin: 0 5px;
  }

  a {
    color: #fff;
    font-weight: 300;
  }
}

//swaggy flex class
.valign-wrapper {
  .display(flex);
  .align-items(center);
}

.valign-wrapper .valign {
  display: block;
}

.btn {
  .BoxShadowHelper(2);
  transition: 0.3s ease-in-out all;

  &:hover {
    .BoxShadowHelper(3);
  }
}

a {
  cursor: pointer;
}

form {
  .row > div {
    padding: 20px 5px;
  }

  button.btn-success {
    .BoxShadowHelper(2);

    &:hover {
      background: #4CAF50;
      .BoxShadowHelper(3);
    }
  }
}

.modal form {
  padding: 0 25px;
}

.modal {
  overflow-y: auto;
}

/* - -------------------------------
*       HEADER
------------------------------- - */
header {
  height: 100%;

  background: url('@{path-img}/car-gray.jpg') no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;

  .valign {
    margin: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 300;
  }

  h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25%;
  }
}

.cc-btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  display: table;
  margin: auto;
  font-weight: 300;
  transition: 0.2s ease all;
  position: relative;
  font-size: 20px;
  padding: 10px 30px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;

  &:before, &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 0;
    background: fade(#fff, 33%);
    transition: 0.3s ease-in-out all;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:hover {
    color: #fff;
    text-decoration: none;

    &:after, &:before {
      width: 50%;
    }

    & > span.fa {
      .transform(rotate(360deg));
    }
  }

  &:focus {
    color: #fff;
    text-decoration: none;
  }

  & > span.fa {
    margin: 0 0 0 5px;
    transition: 0.5s ease-in-out all;
  }
}

/* - -------------------------------
*       MAIN
------------------------------- - */
main .container {
  h2, h3 {
    color: #fff;
    font-weight: 300;
  }

  h3 {
    margin-top: 0;
  }
}

main .container {
  padding: 25px 0;
}

main .container p {
  text-align: justify;
  font-size: 16px;
}

/* - -------------------------------
*       SECTION 1
------------------------------- - */
#section-1 {
  color: #fff;
  background: @color-blue-1;

  .row > div:nth-of-type(2) {
    h3 {
      text-align: center;
      padding: 0 0 15px 0;
    }

    img {
      width: 250px;
      display: block;
      margin: auto;
    }
  }

  #section-1-btn {
    padding: 15px 0;
    display: table;
    margin: auto;

    a {
      margin: 0 15px;
    }
  }
}

/* - -------------------------------
*       SECTION 2
------------------------------- - */
#section-2 {
  padding: 40px 0;
  color: #fff;
  background: url('@{path-img}/hexagon.jpg') no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  -webkit-background-size: cover;
  background-size: cover;

  .promo {
    img {
      display: block;
      margin: 0 auto 10px auto;
    }

    h3 {
      font-size: 25px;
      text-align: center;
      font-weight: 500;
    }

    p {
      padding: 0 20px;
    }
  }

  .valign {
    min-height: 75px;
  }
}

/* - -------------------------------
*       SECTION 3
------------------------------- - */
#section-3 {
  color: #fff;
  background: @color-blue-1;

  input {
    color: #fff;
  }

  .conditions {
    font-style: italic;
    color: darken(#fff, 33%);
    font-weight: 300;
  }
}

/* - -------------------------------
*       FOOTER
------------------------------- - */
footer {
  color: #fff;
  background: @color-dark-gray;

  .valign-wrapper {
    min-height: 150px;
  }

  img {
    max-width: 50px;
  }

  a {
    color: #fff;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;

    &:hover {
      background: #2c3e50;
      color: #fff;
    }
  }
}

.logo {
  margin-right: 10px;
}

.profile-picture {
  .size(50px);
  margin-top: 10px;
}

