@import "lesshat/build/lesshat.less";

// Custom vars

//possibles vars
@general-font : 'Lato' sans-serif;

@color-blue-1 : #3f7cac;
@color-blue-2 : #95afba;
@color-gray-green: #bdc4a7;
@color-green-1: #d5e1a3;
@color-green-2: #e2f89c;
@color-dark-gray : #34495e;

body, html {
  font-family: @general-font;
}

h2 {
  font-weight: 300;
}

#map {
  width: 100%;
  height: 450px;
}

//swaggy flex class
.valign-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

//base.html
.page-header {
  margin-top: 0;
  height: 75px;
  margin-bottom: 0;
  padding-bottom: 0;

  .navbar-header {
    a {
      font-weight: 300;
    }
  }
  nav {
    height: 75px;
    background-color: @color-dark-gray;
    color: #fff;
    border-radius: 0;
    a {
      color: #fff !important;
    }
  }

  .logo {
    .size(40px);
  }

  h1 {
    font-size: 20px;
    float: right;
  }
}


/* - -------------------------------
*       FOOTER
------------------------------- - */
footer {
  color: #fff;
  background: @color-dark-gray;
  .valign-wrapper{
    min-height: 150px;
  }
  img{
    max-width: 50px;
    max-height: 50px;
  }
  .social-networks li a{
    color: #fff;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    &:hover{
      background: #2c3e50;
      color: #fff;
    }
  }
}
