{% load pipeline %}
{% load staticfiles %}
{% load thumbnail %}
{% load metron_tags %}
<!DOCTYPE html>
<html ng-app="carconnect">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block head_title %}Car Connect{% endblock head_title %}</title>

    {% stylesheet 'bootstrap' %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
<div class="page-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url "cars_list" %}">
                        <img class="logo" alt="CarConnect" src="{% static 'img/logocarconnectbwahbwah.png' %}">
                        CarConnect
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ user.manage_account}}">Gérer le compte</a></li>
                        <li><a href="{% url 'account_logout' %}">Déconnexion</a></li>
                        <li>
                            {% if user.picture %}
                                {% thumbnail user.picture "500x500" crop="center" as im %}
                                    <img class="profile-picture img-circle"
                                         src="{{ im.url }}"/>
                                {% endthumbnail %}
                            {% else %}
                                <img class="profile-picture img-circle"
                                     src="{% static "img/default-user.png" %}"/>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container" {% block container_attrs %}{% endblock %}>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content %}
</div>

<footer>
    <div class="container">
        <div class="col-xs-12 col-md-3">
            <div class="valign-wrapper">
                <img class="valign" src="{% static 'img/logocarconnectbwahbwah.png' %}" alt="logo"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="valign-wrapper">
                <div class="valign">
                    <p class="text-center">
                        Because we no want no more useless cars... Take care of Earth <3
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="valign-wrapper">
                <div class="valign">
                    <ul class="list-inline social-networks">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
{% javascript 'libs' %}
{% analytics %}
</body>
</html>
